/* reset pages margin padding */
*{
  margin:0;
  padding:0;
}

@font-face{
  font-family: linkinpark;
  src: url(../fonts/linkinpark.ttf);
}

/* style landingpage */
body.index-home{
  background: url('../images/bg-image.webp') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  margin: 75% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, span.description{
    background-color: #666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    margin: 0;
}
h1{
  font-size: 200%;
  font-family: linkinpark;
}
div.home a, div.social-bg a{
  text-decoration: none;
  background-color: #666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

div.home{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  font-size: 20px;
  font-family: linkinpark;
  margin-top: 20px;
  width: 110px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.social-bg{
  margin-top: 20px;
}
/* end of style landing page */

/* style navbar */
.nav-pills .nav-item button.active{
   background-color: #666;
   color:white;
   border-top: 2px solid #fff;
   border-radius: 1px;
}
.nav-pills .nav-item button{
   background-color: #666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
   
}

#navigasi{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 1px;
  background-color: #060606;
  z-index: 1000;
}
/* end of style navbar */
/* home content */
.tab-content{
  margin: 15px 10px;
  height: 150vh;
}
div.profile-me{
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 85% 15% 32% 68% / 43% 35% 65% 57% ;
  margin: auto;
}
div.profile-me img{
  width: 250px;
  height: 250px;
}
div#pills-about{
  z-index: 1;
}
/* end of home content */